# ==========================
# Data Analysis
# ==========================
pandas
numpy

# ==========================
# Visualization
# ==========================
matplotlib
plotly

# ==========================
# Machine Learning
# ==========================
scikit-learn
xgboost
lightgbm

# ==========================
# Database
# ==========================
SQLAlchemy
pymysql

# ==========================
# API / Crawling
# ==========================
requests
beautifulsoup4
lxml
yfinance

# ==========================
# Streamlit
# ==========================
streamlit

# ==========================
# Environment
# ==========================
python-dotenv

# ==========================
# LLM
# ==========================
openai

# ==========================
# Notebook
# ==========================
jupyterlab
ipykernel