# ==========================
# Data Analysis
# ==========================
pandas
numpy
tqdm

# ==========================
# Visualization
# ==========================
matplotlib
plotly
seaborn

# ==========================
# Machine Learning
# ==========================
scikit-learn
scipy
xgboost
lightgbm

# ==========================
# Database
# ==========================
SQLAlchemy
pymysql
python-dotenv

# ==========================
# API / Crawling
# ==========================
requests
beautifulsoup4
lxml
yfinance
pykrx

# ==========================
# Streamlit
# ==========================
streamlit

# ==========================
# Environment
# ==========================
python-dotenv

# ==========================
# LLM
# ==========================
openai

# ==========================
# Notebook
# ==========================
jupyterlab
ipykernel
